.footer {
    &__container {
        @extend .container;
        padding: 120px 0;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    &__contacts {
        &-block{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
        }
        &-title{
            font-size: 34px;
            line-height: 42px;
            text-align: center;
            color: #070707;
        }
        &-info {
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            font-weight: $Medium;
            max-width: 280px;
            width: 100%;
        }
        &-btn {
            outline: none;
            border: none;
            background: #070707;
            padding: 13px 30px;
            border-radius: 40px;
            position: relative;
            color: $white;
            border-radius: 30px;
            cursor: pointer;
            transition: all 500ms ease;
            & a {
                color: $white;
            }
            &::before , &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: black;
                opacity: 0.3;
                border-radius: inherit;
                left: 0;
                bottom: 0;
                z-index: -999999;
                transition: all 400ms ease;
            }
            &:hover{
                transform: translate(-12px,-12px);
            }
            &:hover::before {
                transform: translate(12px,12px);
            }
            &:hover::after {
                transform: translate(6px, 6px);
            }
        }
    }
    &__social {
        &-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 45px;
        }
        &-icons {
            display: flex;
            gap: 60px;
        }
        &-text {
            max-width: 240px;
            width: 100%;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #828282;
            font-weight: $Medium;
        }
    }

}