.header{
    &__container {
        @extend .container;
    }
    &__nav {
        padding: 32px 0;
        border-bottom: 1px solid #828282;
        transform: matrix(1, 0, 0, 1, 0, 0);
        &-menu {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        &-burger {
            outline: none;
            border: none;
            display: none;
        }
        &-link {
            color: #828282;
            transition: color 500ms ease;
            &:hover{
                color: black;
            }
        }
        &-back {
            width: 22px;
            height: 22px;
            position: absolute;
            top: 60px;
            right: 28px;
            display: none;
        }
    }
    &__content {
        margin-bottom: 104px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        &-up {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-title {
            font-size: 47.3392px;
            line-height: 59px;
            width: 123px;
        }
        &-info {
            width: 155.65px;
            font-size: 18px;
            line-height: 22px;
            font-weight: 400;
        }
        &-lang {
            transform: rotate(-90deg);
            font-size: 16px;
            line-height: 20px;
        }
        &-bottom {
            & img {
                max-width: 943px;
                width: 100%;
                &.mobile{
                    display: none;
                }
            }
        }
    }
}